---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/dois?fields%5Bdois%5D=doi,updated&page%5Bscroll%5D=7m&page%5Bsize%5D=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"867547ca27c2d0768c01922aef2c8407"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"10.1002/jca.21694","type":"dois","attributes":{"doi":"10.1002/jca.21694","updated":"2019-12-09T16:08:13.000Z"},"relationships":{}},{"id":"10.1142/s0217732304013647","type":"dois","attributes":{"doi":"10.1142/s0217732304013647","updated":"2019-12-09T16:08:12.000Z"},"relationships":{}},{"id":"10.1007/978-3-030-29377-2_10","type":"dois","attributes":{"doi":"10.1007/978-3-030-29377-2_10","updated":"2019-12-09T16:08:11.000Z"},"relationships":{}},{"id":"10.1017/9781108566216.004","type":"dois","attributes":{"doi":"10.1017/9781108566216.004","updated":"2019-12-09T16:08:08.000Z"},"relationships":{}},{"id":"10.5194/acp-16-13541-[...]
