---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/dois?fields%5Bdois%5D=doi,updated&page%5Bscroll%5D=3m&page%5Bsize%5D=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"5d63ea3da207a0bf33b98af12db61514"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"10.1097/npt.0b013e3181c1fc0b","type":"dois","attributes":{"doi":"10.1097/npt.0b013e3181c1fc0b","updated":"2019-12-08T17:40:05.000Z"},"relationships":{}},{"id":"10.1097/01.npt.0000260568.31746.34","type":"dois","attributes":{"doi":"10.1097/01.npt.0000260568.31746.34","updated":"2019-12-08T17:40:03.000Z"},"relationships":{}},{"id":"10.1142/s0218202516500664","type":"dois","attributes":{"doi":"10.1142/s0218202516500664","updated":"2019-12-08T17:40:03.000Z"},"relationships":{}},{"id":"10.4000/cy.127","type":"dois","attributes":{"doi":"10.4000/cy.127","updated":"2019-12-08T17:40:03.000Z"},"relationships":{}},{"id":"10.1530/rep-13-0268","type":"do[...]
