---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/dois?fields%5Bdois%5D=doi,updated&page%5Bscroll%5D=7m&page%5Bsize%5D=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"d3a17f80c11b8a8596c6c47434d69310"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"10.0166/fk2.stagefigshare.c.2794104","type":"dois","attributes":{"doi":"10.0166/fk2.stagefigshare.c.2794104","updated":"2019-12-12T06:41:10.000Z"},"relationships":{}},{"id":"10.0166/fk2.stagefigshare.c.2794104.v1","type":"dois","attributes":{"doi":"10.0166/fk2.stagefigshare.c.2794104.v1","updated":"2019-12-12T06:41:09.000Z"},"relationships":{}},{"id":"10.0166/fk2.stagefigshare.6657672.v1","type":"dois","attributes":{"doi":"10.0166/fk2.stagefigshare.6657672.v1","updated":"2019-12-12T06:38:47.000Z"},"relationships":{}},{"id":"10.0166/fk2.stagefigshare.6657672","type":"dois","attributes":{"doi":"10.0166/fk2.stagefigshare.6657672","updated":"2019-12-12T06:38:[...]
