---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/dois?fields%5Bdois%5D=doi,updated&page%5Bscroll%5D=7m&page%5Bsize%5D=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"8bac9a76a657868d761bf681237617fe"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"10.3280/ses2013-001015en","type":"dois","attributes":{"doi":"10.3280/ses2013-001015en","updated":"2019-12-10T11:31:49.000Z"},"relationships":{}},{"id":"10.1002/cne.24736","type":"dois","attributes":{"doi":"10.1002/cne.24736","updated":"2019-12-10T11:31:49.000Z"},"relationships":{}},{"id":"10.5056/jnm.2010.16.4.389","type":"dois","attributes":{"doi":"10.5056/jnm.2010.16.4.389","updated":"2019-12-10T11:31:48.000Z"},"relationships":{}},{"id":"10.1002/widm.1097","type":"dois","attributes":{"doi":"10.1002/widm.1097","updated":"2019-12-10T11:31:48.000Z"},"relationships":{}},{"id":"10.0166/fk2.stagefigshare.c.2792654","type":"dois","attribu[...]
