---
http_interactions:
- request:
    method: get
    uri: https://solr.test.datacite.org/api?fl=doi,updated&fq=updated:%5B2018-09-08T00:00:00Z%20TO%202018-09-09T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=*:*&rows=50000&sort=updated%20asc&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"status":0,"QTime":0},"response":{"numFound":10,"start":0,"docs":[{"updated":"2018-09-08T05:28:56Z","doi":"10.15771/IMEJIDEV.RM"},{"updated":"2018-09-08T05:30:17Z","doi":"10.15771/IMEJIDEV.RN"},{"updated":"2018-09-08T05:32:36Z","doi":"10.15771/IMEJIDEV.RO"},{"updated":"2018-09-08T05:34:48Z","doi":"10.15771/IMEJIDEV.RP"},{"updated":"2018-09-08T05:36:38Z","doi":"10.15771/IMEJIDEV.RQ"},{"updated":"2018-09-09T05:28:52Z","doi":"10.15771/IMEJIDEV.RR"},{"updated":"2018-09-09T05:30:14Z","doi":"10.15771/IMEJIDEV.RS"},{"updated":"2018-09-09T05:32:28Z","doi":"10.15771/IMEJIDEV.RT"},{"updated":"2018-09-09T05:34:41Z","doi":"10.15771/IMEJIDEV.RU"},{"updated":"2018-09-09T05:36:38Z","doi":"10.15771/IMEJIDEV.RV"}]}}

'
  recorded_at: Sun, 09 Sep 2018 05:56:17 GMT
recorded_with: VCR 3.0.3
