---
http_interactions:
- request:
    method: get
    uri: https://solr.test.datacite.org/api?fl=doi,updated&fq=updated:%5B2018-04-08T00:00:00Z%20TO%202018-04-09T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=*:*&rows=0&sort=updated%20asc&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"status":0,"QTime":1},"response":{"numFound":4,"start":0,"docs":[]}}

'
  recorded_at: Sun, 08 Apr 2018 22:00:00 GMT
- request:
    method: get
    uri: https://solr.test.datacite.org/api?fl=doi,updated&fq=updated:%5B2018-04-08T00:00:00Z%20TO%202018-04-09T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=*:*&rows=50000&sort=updated%20asc&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"status":0,"QTime":0},"response":{"numFound":4,"start":0,"docs":[{"updated":"2018-04-09T10:25:02Z","doi":"10.5256/F1000RESEARCH.68843.R16717"},{"updated":"2018-04-09T11:05:02Z","doi":"10.5256/F1000RESEARCH.68852.R16719"},{"updated":"2018-04-09T11:05:02Z","doi":"10.5256/F1000RESEARCH.68852.R16720"},{"updated":"2018-04-09T11:40:02Z","doi":"10.5256/F1000RESEARCH.68854.R16723"}]}}

'
  recorded_at: Sun, 08 Apr 2018 22:00:00 GMT
- request:
    method: get
    uri: https://s3.amazonaws.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20180408T220000Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<AWS_ACCESS_KEY_ID>/20180408/us-east-1/s3/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=66e6edc9e291e9fec7f58a56037a36db17830565105b4cf801ae768dfda1ff2d
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Amz-Request-Id:
      - B7895DC13BE05211
      Content-Type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <Error><Code>RequestTimeTooSkewed</Code><Message>The difference between the request time and the current time is too large.</Message><RequestTime>20180408T220000Z</RequestTime><ServerTime>2018-09-08T22:52:31Z</ServerTime><MaxAllowedSkewMilliseconds>900000</MaxAllowedSkewMilliseconds><RequestId>B7895DC13BE05211</RequestId><HostId>VDp0eVs9gcpXN0OeNwtFSBc0UMKw0Tp4IZ2tfD0WkLU5wm5yRckbmL5x1zJW3yf7pneNN8Pgb4c=</HostId></Error>
  recorded_at: Sun, 08 Apr 2018 22:00:00 GMT
[...]
- request:
    method: put
    uri: https://sitemaps-search-datacite-test.s3-eu-west-1.amazonaws.com/sitemap.xml.gz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/gzip
      X-Amz-Acl:
      - public-read
      X-Amz-Date:
      - 20180908T225231Z
      X-Amz-Content-Sha256:
      - STREAMING-AWS4-HMAC-SHA256-PAYLOAD
      X-Amz-Decoded-Content-Length:
      - '428'
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<AWS_ACCESS_KEY_ID>/20180908/eu-west-1/s3/aws4_request,
        SignedHeaders=content-type;host;x-amz-acl;x-amz-content-sha256;x-amz-date;x-amz-decoded-content-length,
        Signature=5a9fb2759d7cfd0752367e1eef3034b864bcdb2dda440c12e51f38a42725d265
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 584767FAE3B7D31A
      Etag:
      - '"e22944ef168799f896eaafc72d571bb3"'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 08 Apr 2018 22:00:00 GMT
recorded_with: VCR 3.0.3
