---
http_interactions:
- request:
    method: get
    uri: https://solr.test.datacite.org/api?fl=doi,updated&fq=updated:%5B2018-04-08T00:00:00Z%20TO%202018-04-09T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=*:*&rows=0&sort=updated%20asc&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"status":0,"QTime":1},"response":{"numFound":4,"start":0,"docs":[]}}

'
  recorded_at: Sun, 08 Apr 2018 22:00:00 GMT
- request:
    method: get
    uri: https://solr.test.datacite.org/api?fl=doi,updated&fq=updated:%5B2018-04-08T00:00:00Z%20TO%202018-04-09T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=*:*&rows=50000&sort=updated%20asc&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"status":0,"QTime":0},"response":{"numFound":4,"start":0,"docs":[{"updated":"2018-04-09T10:25:02Z","doi":"10.5256/F1000RESEARCH.68843.R16717"},{"updated":"2018-04-09T11:05:02Z","doi":"10.5256/F1000RESEARCH.68852.R16719"},{"updated":"2018-04-09T11:05:02Z","doi":"10.5256/F1000RESEARCH.68852.R16720"},{"updated":"2018-04-09T11:40:02Z","doi":"10.5256/F1000RESEARCH.68854.R16723"}]}}

'
  recorded_at: Sun, 08 Apr 2018 22:00:00 GMT
- request:
    method: get
    uri: https://s3.amazonaws.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20180408T215320Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<AWS_ACCESS_KEY_ID>/20180408/us-east-1/s3/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=3e4720f35d3e7621e26b16dfd8181bb2b171e156b08872841f6a9d76f80c9f39
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Amz-Request-Id:
      - 2BEE35CFC2AC1287
      Content-Type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <Error><Code>RequestTimeTooSkewed</Code><Message>The difference between the request time and the current time is too large.</Message><RequestTime>20180408T215320Z</RequestTime><ServerTime>2018-09-08T13:04:24Z</ServerTime><MaxAllowedSkewMilliseconds>900000</MaxAllowedSkewMilliseconds><RequestId>2BEE35CFC2AC1287</RequestId><HostId>COJmJWioMq4nNw6E/OoQkq59l3mw+0wBoHyIe9yOpOYQ2RkhmPJXKNGDWik1C9I1FXfSh31N6RY=</HostId></Error>
  recorded_at: Sun, 08 Apr 2018 22:00:00 GMT
[...]
- request:
    method: put
    uri: https://sitemaps-search-datacite.s3-eu-west-1.amazonaws.com/sitemaps-test/sitemap.xml.gz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/gzip
      X-Amz-Acl:
      - public-read
      X-Amz-Date:
      - 20180908T130424Z
      X-Amz-Content-Sha256:
      - STREAMING-AWS4-HMAC-SHA256-PAYLOAD
      X-Amz-Decoded-Content-Length:
      - '429'
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<AWS_ACCESS_KEY_ID>/20180908/eu-west-1/s3/aws4_request,
        SignedHeaders=content-type;host;x-amz-acl;x-amz-content-sha256;x-amz-date;x-amz-decoded-content-length,
        Signature=029e0565db0aa14eee9ce073ab37e7d9c19e90c07830d5dac1fb4539e019523b
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - F6125105D2A76224
      Etag:
      - '"8fe15014c702b84675c5bd09a63ad59a"'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 08 Apr 2018 22:00:00 GMT
recorded_with: VCR 3.0.3
