---
http_interactions:
- request:
    method: get
    uri: https://search.datacite.org/api?fl=doi,updated&fq=updated:%5B2015-04-07T00:00:00Z%20TO%202015-04-08T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=*:*&rows=0&sort=updated%20asc&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":0},"response":{"numFound":2521,"start":0,"docs":[]}}

'
  recorded_at: Tue, 07 Apr 2015 22:00:00 GMT
- request:
    method: get
    uri: https://search.datacite.org/api?fl=doi,updated&fq=updated:%5B2015-04-07T00:00:00Z%20TO%202015-04-08T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=*:*&rows=50000&sort=updated%20asc&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":1},"response":{"numFound":2521,"start":0,"docs":[{"updated":"2015-04-07T00:02:26Z","doi":"10.15468/DL.6OKWWI"},{"updated":"2015-04-07T00:21:38Z","doi":"10.15468/DL.RXNCR4"},{"updated":"2015-04-07T00:21:50Z","doi":"10.15468/DL.HGLMY7"},{"updated":"2015-04-07T00:22:27Z","doi":"10.15468/DL.WQC8NC"},{"updated":"2015-04-07T00:23:01Z","doi":"10.15468/DL.IGIBXL"},{"updated":"2015-04-07T00:23:29Z","doi":"10.15468/DL.ZTH9PN"},{"updated":"2015-04-07T00:23:57Z","doi":"10.15468/DL.45NSDY"},{"updated":"2015-04-07T00:24:22Z","doi":"10.15468/DL.3YP5BS"},{"updated":"2015-04-07T00:24:50Z","doi":"10.[...]
- request:
    method: get
    uri: https://s3.amazonaws.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20150407T220001Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<AWS_ACCESS_KEY_ID>/20150407/us-east-1/s3/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=63ae9b360414ffd780af6bec925edc820e5991b83ce6eab4d03861342340d476
  response:
    status:
      code: 403
      message: ''
    headers:
      X-Amz-Request-Id:
      - F1F1935B9D093F3B
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <Error><Code>RequestTimeTooSkewed</Code><Message>The difference between the request time and the current time is too large.</Message><RequestTime>20150407T220001Z</RequestTime><ServerTime>2017-02-26T20:03:11Z</ServerTime><MaxAllowedSkewMilliseconds>900000</MaxAllowedSkewMilliseconds><RequestId>F1F1935B9D093F3B</RequestId><HostId>sGMBvTChZ4S+owf6quTgVg2rHd+0Vw4+0KomLLJHZziKUgbCDRItUwATwjsIT3Wldz/LNPs58jw=</HostId></Error>
  recorded_at: Tue, 07 Apr 2015 22:00:00 GMT
[...]
- request:
    method: put
    uri: https://s3-eu-west-1.amazonaws.com/search.datacite.org/sitemaps/sitemap.xml.gz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/gzip
      X-Amz-Acl:
      - public-read
      X-Amz-Date:
      - 20170226T200311Z
      X-Amz-Content-Sha256:
      - STREAMING-AWS4-HMAC-SHA256-PAYLOAD
      X-Amz-Decoded-Content-Length:
      - '29028'
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<AWS_ACCESS_KEY_ID>/20170226/eu-west-1/s3/aws4_request,
        SignedHeaders=content-type;host;x-amz-acl;x-amz-content-sha256;x-amz-date;x-amz-decoded-content-length,
        Signature=fc9847746cf3557422ed8f4c4d09b4821308a4a0d8771251319825fc101709f5
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Amz-Request-Id:
      - 37FEBFDC5AE39977
      Etag:
      - '"5cf4ae06eba5f9e40621802f0e630252"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 07 Apr 2015 22:00:00 GMT
recorded_with: VCR 3.0.3
