---
http_interactions:
- request:
    method: get
    uri: https://s3.amazonaws.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20180908T225231Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<AWS_ACCESS_KEY_ID>/20180908/us-east-1/s3/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=4809335dfcff0706d1cb12c32bd1d5e3ce586ad64fc785d621a8a6a67a057197
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 395C053ADA08B7F9
      Content-Type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <ListAllMyBucketsResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><ID>8170cc616e9d1833db4bade0c7af0010f04464343a1004b67a00fbcb41e361de</ID><DisplayName>infrastructure</DisplayName></Owner><Buckets><Bucket><Name>assets.datacite.org</Name><CreationDate>2018-01-03T09:09:55.000Z</CreationDate></Bucket><Bucket><Name>assets.test.datacite.org</Name><CreationDate>2018-01-06T05:16:26.000Z</CreationDate></Bucket><Bucket><Name>blog.datacite.org</Name><CreationDate>2018-01-03T09:10:38.000Z</CreationDate></Bucket><Bucket><Name>blog.stage.datacite.org</Name><CreationDate>2018-01-02T20:25:03.000Z</CreationDate></Bucket><Bucket><Name>book.openingscience.org</Name><CreationDate>2018-02-14T07:04:58.000Z</CreationDate></Bucket><Bucket><Name>doi.datacite.org</N[...]
- request:
    method: put
    uri: https://sitemaps-search-datacite-test.s3-eu-west-1.amazonaws.com/sitemap.xml.gz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/gzip
      X-Amz-Acl:
      - public-read
      X-Amz-Date:
      - 20180908T225234Z
      X-Amz-Content-Sha256:
      - STREAMING-AWS4-HMAC-SHA256-PAYLOAD
      X-Amz-Decoded-Content-Length:
      - '29477'
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<AWS_ACCESS_KEY_ID>/20180908/eu-west-1/s3/aws4_request,
        SignedHeaders=content-type;host;x-amz-acl;x-amz-content-sha256;x-amz-date;x-amz-decoded-content-length,
        Signature=8a89f8ea4dc72ca2b8df57064d44bc0cf9ee4df1f2841fe3d2c87f2c6ebb8743
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - B2498A85D0432342
      Etag:
      - '"5f55ade3c71bb6bf2338e9cb1210c4e2"'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 08 Apr 2018 22:00:00 GMT
recorded_with: VCR 3.0.3
