---
http_interactions:
- request:
    method: get
    uri: https://s3.amazonaws.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20170226T200314Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<AWS_ACCESS_KEY_ID>/20170226/us-east-1/s3/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=8bf9b050f46afa1bcb96a9caf5a1400824b680c9c43b98a2e283d3c56b5c01cb
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Amz-Request-Id:
      - EA318DDA19F6A296
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <ListAllMyBucketsResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><ID>8170cc616e9d1833db4bade0c7af0010f04464343a1004b67a00fbcb41e361de</ID><DisplayName>infrastructure</DisplayName></Owner><Buckets><Bucket><Name>api.datacite.org</Name><CreationDate>2017-02-09T07:05:20.000Z</CreationDate></Bucket><Bucket><Name>api.test.datacite.org</Name><CreationDate>2017-02-09T07:05:21.000Z</CreationDate></Bucket><Bucket><Name>archive.datacite.org</Name><CreationDate>2016-12-26T07:02:24.000Z</CreationDate></Bucket><Bucket><Name>archive.test.datacite.org</Name><CreationDate>2017-01-13T19:04:30.000Z</CreationDate></Bucket><Bucket><Name>assets.datacite.org</Name><CreationDate>2016-04-29T17:51:32.000Z</CreationDate></Bucket><Bucket><Name>assets.test.datacite.[...]
- request:
    method: put
    uri: https://s3-eu-west-1.amazonaws.com/search.datacite.org/sitemaps/sitemap.xml.gz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/gzip
      X-Amz-Acl:
      - public-read
      X-Amz-Date:
      - 20170226T200315Z
      X-Amz-Content-Sha256:
      - STREAMING-AWS4-HMAC-SHA256-PAYLOAD
      X-Amz-Decoded-Content-Length:
      - '329'
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<AWS_ACCESS_KEY_ID>/20170226/eu-west-1/s3/aws4_request,
        SignedHeaders=content-type;host;x-amz-acl;x-amz-content-sha256;x-amz-date;x-amz-decoded-content-length,
        Signature=d2d072afd0b1056cbce31ac662b97015c35ec964439d1ac909cdf04cd4afc2cd
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Amz-Request-Id:
      - D1EDFD25AF752851
      Etag:
      - '"03822532fa15267acf77702062e41664"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 07 Apr 2015 22:00:00 GMT
recorded_with: VCR 3.0.3
