---
http_interactions:
- request:
    method: get
    uri: https://s3.amazonaws.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20150407T220000Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<AWS_ACCESS_KEY_ID>/20150407/us-east-1/s3/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=2fe3044f0e0fd2b7ad2caeb9e6af67ab3de66969b6bbe67cf4e6d53621e33391
  response:
    status:
      code: 403
      message: ''
    headers:
      X-Amz-Request-Id:
      - AFF611ADFC0BB4FF
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <Error><Code>RequestTimeTooSkewed</Code><Message>The difference between the request time and the current time is too large.</Message><RequestTime>20150407T220000Z</RequestTime><ServerTime>2017-02-26T23:17:04Z</ServerTime><MaxAllowedSkewMilliseconds>900000</MaxAllowedSkewMilliseconds><RequestId>AFF611ADFC0BB4FF</RequestId><HostId>/bNnD4tgFXPfaowrE4eiO7FozZYXEYgHiENHDySPcRCX35tWZjANdnIBsCC9Q6kkixEiusHKQBU=</HostId></Error>
  recorded_at: Tue, 07 Apr 2015 22:00:00 GMT
[...]
- request:
    method: put
    uri: https://s3-eu-west-1.amazonaws.com/search.datacite.org/sitemaps-test/sitemap.xml.gz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/gzip
      X-Amz-Acl:
      - public-read
      X-Amz-Date:
      - 20170226T231704Z
      X-Amz-Content-Sha256:
      - STREAMING-AWS4-HMAC-SHA256-PAYLOAD
      X-Amz-Decoded-Content-Length:
      - '29028'
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<AWS_ACCESS_KEY_ID>/20170226/eu-west-1/s3/aws4_request,
        SignedHeaders=content-type;host;x-amz-acl;x-amz-content-sha256;x-amz-date;x-amz-decoded-content-length,
        Signature=7cb583308e13da8753991703d16f56513c29cceb683bdd4f04f993d6794faac3
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Amz-Request-Id:
      - 61DAFAF29518E861
      Etag:
      - '"157fe411131d9f960f73c9195ee315bd"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 07 Apr 2015 22:00:00 GMT
recorded_with: VCR 3.0.3
