---
http_interactions:
- request:
    method: get
    uri: https://s3.amazonaws.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20170226T163651Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<AWS_ACCESS_KEY_ID>/20170226/us-east-1/s3/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=6c2ef0efb87b485fb3b170845ed3be9683956c0c852508154c872a7fd24267e7
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Amz-Request-Id:
      - B06AE09620BE920D
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <ListAllMyBucketsResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><ID>8170cc616e9d1833db4bade0c7af0010f04464343a1004b67a00fbcb41e361de</ID><DisplayName>infrastructure</DisplayName></Owner><Buckets><Bucket><Name>api.datacite.org</Name><CreationDate>2017-02-09T07:05:20.000Z</CreationDate></Bucket><Bucket><Name>api.test.datacite.org</Name><CreationDate>2017-02-09T07:05:21.000Z</CreationDate></Bucket><Bucket><Name>archive.datacite.org</Name><CreationDate>2016-12-26T07:02:24.000Z</CreationDate></Bucket><Bucket><Name>archive.test.datacite.org</Name><CreationDate>2017-01-13T19:04:30.000Z</CreationDate></Bucket><Bucket><Name>assets.datacite.org</Name><CreationDate>2016-04-29T17:51:32.000Z</CreationDate></Bucket><Bucket><Name>assets.test.datacite.[...]
- request:
    method: put
    uri: https://s3-eu-west-1.amazonaws.com/sitemaps.datacite.org/sitemaps/sitemap.xml.gz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/gzip
      X-Amz-Acl:
      - public-read
      X-Amz-Date:
      - 20170226T163652Z
      X-Amz-Content-Sha256:
      - STREAMING-AWS4-HMAC-SHA256-PAYLOAD
      X-Amz-Decoded-Content-Length:
      - '29028'
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<AWS_ACCESS_KEY_ID>/20170226/eu-west-1/s3/aws4_request,
        SignedHeaders=content-type;host;x-amz-acl;x-amz-content-sha256;x-amz-date;x-amz-decoded-content-length,
        Signature=ddd4a2ae86829a3f25ce393cd4a89f0ccd89a78dbd84cb12bb628697f7dc36d7
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Amz-Request-Id:
      - 064AEFC828E17346
      Etag:
      - '"0a80f98d181c22cf9b6de16c57e741c5"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 07 Apr 2015 22:00:00 GMT
recorded_with: VCR 3.0.3
