---
http_interactions:
- request:
    method: get
    uri: https://solr.datacite.org/public/api?fl=doi,updated&fq=updated:%5B2015-03-15T00:00:00Z%20TO%202015-04-08T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=*:*&rows=0&sort=updated%20asc&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":13},"response":{"numFound":43273,"start":0,"docs":[]}}

'
  recorded_at: Thu, 18 Jan 2018 12:50:30 GMT
- request:
    method: get
    uri: https://solr.datacite.org/public/api?fl=doi,updated&fq=updated:%5B2015-03-15T00:00:00Z%20TO%202015-04-08T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=*:*&rows=50000&sort=updated%20asc&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":28},"response":{"numFound":43273,"start":0,"docs":[{"updated":"2015-03-15T00:19:31Z","doi":"10.15468/DL.SNSC0Q"},{"updated":"2015-03-15T00:22:34Z","doi":"10.15468/DL.EPUNKJ"},{"updated":"2015-03-15T00:34:44Z","doi":"10.15468/DL.EIAVRO"},{"updated":"2015-03-15T00:54:12Z","doi":"10.15468/DL.XEK8QY"},{"updated":"2015-03-15T00:58:03Z","doi":"10.13140/2.1.4891.3444"},{"updated":"2015-03-15T01:05:39Z","doi":"10.13140/2.1.3580.6249"},{"updated":"2015-03-15T01:08:47Z","doi":"10.13140/2.1.2007.7605"},{"updated":"2015-03-15T01:10:25Z","doi":"10.13140/2.1.4104.9126"},{"updated":"2015-03-15T01:34[...]
