---
http_interactions:
- request:
    method: get
    uri: https://solr.test.datacite.org/api?fl=doi,updated&fq=updated:%5B2018-03-15T00:00:00Z%20TO%202018-04-08T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=*:*&rows=0&sort=updated%20asc&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"status":0,"QTime":49},"response":{"numFound":265,"start":0,"docs":[]}}

'
  recorded_at: Sat, 08 Sep 2018 12:57:40 GMT
- request:
    method: get
    uri: https://solr.test.datacite.org/api?fl=doi,updated&fq=updated:%5B2018-03-15T00:00:00Z%20TO%202018-04-08T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=*:*&rows=50000&sort=updated%20asc&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"status":0,"QTime":1},"response":{"numFound":265,"start":0,"docs":[{"updated":"2018-03-15T09:57:00Z","doi":"10.0133/1521107796250"},{"updated":"2018-03-15T09:58:59Z","doi":"10.0133/36983"},{"updated":"2018-03-15T10:03:15Z","doi":"10.0133/36990"},{"updated":"2018-03-15T10:20:22Z","doi":"10.0133/36974"},{"updated":"2018-03-15T10:28:52Z","doi":"10.0133/36991"},{"updated":"2018-03-15T10:28:55Z","doi":"10.0133/36992"},{"updated":"2018-03-15T10:30:52Z","doi":"10.0133/36994"},{"updated":"2018-03-15T11:43:27Z","doi":"10.25499/V3CQF9MP9PGHVMKOK4BGVESQRG"},{"updated":"2018-03-15T11:55:18Z","doi":"10.4124/TBD6D[...]
- request:
    method: get
    uri: https://s3.amazonaws.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20180908T125740Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<AWS_ACCESS_KEY_ID>/20180908/us-east-1/s3/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=1aaa914a9010c07333c8f0f4086c89ec124985859244e92973c2d1b97caf14d9
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 25CCEA6B7E605CDC
      Content-Type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <ListAllMyBucketsResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><ID>8170cc616e9d1833db4bade0c7af0010f04464343a1004b67a00fbcb41e361de</ID><DisplayName>infrastructure</DisplayName></Owner><Buckets><Bucket><Name>assets.datacite.org</Name><CreationDate>2018-01-03T09:09:55.000Z</CreationDate></Bucket><Bucket><Name>assets.test.datacite.org</Name><CreationDate>2018-01-06T05:16:26.000Z</CreationDate></Bucket><Bucket><Name>blog.datacite.org</Name><CreationDate>2018-01-03T09:10:38.000Z</CreationDate></Bucket><Bucket><Name>blog.stage.datacite.org</Name><CreationDate>2018-01-02T20:25:03.000Z</CreationDate></Bucket><Bucket><Name>book.openingscience.org</Name><CreationDate>2018-02-14T07:04:58.000Z</CreationDate></Bucket><Bucket><Name>doi.datacite.org</N[...]
- request:
    method: put
    uri: https://sitemaps-search-datacite-test.s3-eu-west-1.amazonaws.com/sitemaps-test/sitemap.xml.gz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/gzip
      X-Amz-Acl:
      - public-read
      X-Amz-Date:
      - 20180908T125742Z
      X-Amz-Content-Sha256:
      - STREAMING-AWS4-HMAC-SHA256-PAYLOAD
      X-Amz-Decoded-Content-Length:
      - '4112'
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<AWS_ACCESS_KEY_ID>/20180908/eu-west-1/s3/aws4_request,
        SignedHeaders=content-type;host;x-amz-acl;x-amz-content-sha256;x-amz-date;x-amz-decoded-content-length,
        Signature=3c14b44c8a03380011bdfcb6e69f809c6996707fdc89a2888d44aff94892b028
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 37BEAA41B0BBDE56
      Etag:
      - '"1dee993fbb1304fe63ea636c3db056b3"'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 08 Sep 2018 12:57:41 GMT
recorded_with: VCR 3.0.3
